@charset "utf-8";

/* Filled in information */
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Diego Sandoval
   Date:   10/25/18

   Filename:         pcg_paper.css
   Supporting Files: 

*/
/* Body and Window Style Rules */
/* Makes the background of the website white */
html {
    background-color: white;
}

/* Aligns the body to the center of the page, Changes its background, unifies the font family, set the font size, sets the width and makes it have a min and max width. */
body {
    margin-left: auto;
    margin-right: auto;
    background-color: #f1f1f1;
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 16px;
    width: 80%;
    min-width: 640px;
    max-width: 940px;

}

/* Link styles */
/* Makes all the links not have an underline, and set the text color. */
a {
    text-decoration: none;
    color: rgb(228, 228, 228);
}

/* Top Nav Bar Styles */
/* Displays the Nav Bar in a line, with even boxes and have a color and change when you hover over it */
nav.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

nav.navBar li.dd {
    float: left;
    text-align: center;
    width: 33.33%;
}

nav.navBar li a,
nav.navBar .dbutton {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav.navBar li a:hover,
nav.navBar .dd:hover .dbutton {
    background-color: red;
}

nav.navBar li.dd {
    display: inline-block;
}

/* Drops down and display extra content and when hovered over changes thee background color of the List Items. */
nav.navBar .ddcon {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    width: 22%;
}

nav.navBar .ddcon a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

nav.navBar .ddcon a:hover {
    background-color: #f1f1f1
}

nav.navBar .dd:hover .ddcon {
    display: block;
}

/* Aside Nav Box */
/* Floats the aside Navigation list makes the list have the fancy hover, also it has a drop shadow. */
aside {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(200, 200, 200, 0.8);
}

aside {
    position: fixed;
    top: 0;
    left: 17%;
}

aside ul li {
    display: block;
}

aside li {
    width: 100%;
}

aside a {
    display: block;
    line-height: 1.4em;
    text-decoration: none;
    color: #333;
}

aside a:link,
aside a:visited {
    background-color: rgba(200, 200, 200, 0.8);
    padding: 1px;
}

aside a:hover,
aside a:active {
    background-color: rgba(120, 120, 120, 0.2);
}

/* H elements */
/* Makes the Heading 1 element content appear large and bold. */
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* Article styles */
/* Display the articles as blocks, makes the margin auto so they are center in the body, an sets the padding. */
article.story {
    display: block;
    margin-left: auto;
    padding: 10px;
}

/* Footer */
/* Sets the footer to display as block, makes it float left, changed the background color, set the width to 100%, and gave it some padding. Then prevented a container collapse, and then made it do the fancy hover, but just change the text color and not the background. */
footer {
    display: block;
    float: left;
    background-color: #333;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer::after {
    clear: both;
    content: "";
    display: table;
}

footer a:hover,
footer a:active {
    color: rgba(228, 228, 228, .85);
}